<div class="container">
  <h1><span ng-bind="adminArticlesEdit.submitActionName"></span> Article</h1>
  <form name="projectForm" class="form" ng-submit="adminArticlesEdit[adminArticlesEdit.submitActionName]();">
    <div class="form__group">
      <input type="text" class="form__text" name="articleTitle" id="articleTitle"
             required
             placeholder="Article Title"
             ng-model="adminArticlesEdit.article.title">
    </div>

    <div class="form__group">
      <textarea class="form__textarea--large" name="articleContent"
                id="articleContent" placeholder="Article Content"
                ng-model="adminArticlesEdit.article.content"></textarea>

    </div>

    <div class="form__group">
      <input type="url" class="form__text" name="articleCoverUrl" id="articleCoverUrl"
             placeholder="Cover URL" ng-model="adminArticlesEdit.article.coverUrl">
    </div>

    <h2>Meta Data</h2>

    <div class="form__group">
      <input type="text" class="form__text" name="articleMetaTitle" id="articleMetaTitle"
             required
             placeholder="Meta Title"
             ng-model="adminArticlesEdit.article.meta.title">
    </div>

    <div class="form__group">
      <textarea class="form__textarea" name="articleMetaDescription"
                required
                id="articleMetaDescription" placeholder="Meta Description"
                ng-model="adminArticlesEdit.article.meta.description"></textarea>

    </div>

    <div class="form__group">
      <label for="articleLive" class="form__label">
        <input type="checkbox" class="form__checkbox" name="articleLive" id="articleLive"
               ng-model="adminArticlesEdit.article.live">
               Make Publicly Available
      </label>
    </div>

    <div class="form__group--right">
      <input type="submit" class="form__submit" ng-value="adminArticlesEdit.submitActionName">
    </div>
  </form>

  <article class="article--preview">
    <div class="article__cover" data-article-cover cover-src="adminArticlesEdit.article.coverUrl"></div>
    <div class="article__container">
      <h1 class="article__title" ng-bind="adminArticlesEdit.article.title"></h1>
      <div data-article-content content="adminArticlesEdit.article.content"></div>
    </div>
  </article>
</div>
