<div class="container">
  <h1><span ng-bind="adminArticlesEdit.submitActionName"></span> Article</h1>
  <form name="projectForm" class="form" ng-submit="adminArticlesEdit[adminArticlesEdit.submitActionName]();">
    <div class="form__group">
      <input type="text" class="form__text" name="articleTitle" id="articleTitle"
             required
             placeholder="Article Title"
             ng-model="adminArticlesEdit.project.title">
    </div>

    <div class="form__group">
      <textarea class="form__textarea" name="articleContent"
                id="articleContent" placeholder="Article Content"
                ng-model="adminArticlesEdit.article.content"></textarea>
    </div>

    <div class="form__group">
      <input type="url" class="form__text" name="articleCoverUrl" id="articleCoverUrl"
             placeholder="Article Url" ng-model="adminArticlesEdit.coverUrl">
    </div>

    <div class="form__group">
      <label for="articleLive" class="form__label">
        <input type="checkbox" class="form__checkbox" name="articleLive" id="articleLive"
               ng-model="adminArticlesEdit.project.live">
               Make Publicly Available
      </label>
    </div>

    <div class="form__group--right">
      <input type="submit" class="form__submit" ng-value="adminArticlesEdit.submitActionName">
    </div>
  </form>
</div>
