header.header {
  width: 100%;

  position: fixed;
  top: 0;

  background-color: $color-header-background;
  box-shadow: 0 2px 3px 1px rgba(0,0,0,0.10);

  h1 {
    margin: 0;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    color: $color-primary;
  }

  ul.menu {
    list-style: none;
    display: inline-block;
    margin: 0;

    li, a {
      display: inline-block;
    }

    li {
      &.active a {
        border-bottom-color: $color-primary;
        color: $color-primary;
      }

      &.active:hover a {
        border-bottom-color: $color-primary;
      }

      &:hover a {
        border-bottom-color: $color-header-border-highlight;
        color: $color-primary;
      }
    }

    a {
      padding: 40px 0;
      width: 150px;
      text-align: center;
      color: inherit;
      text-decoration: none;
      border-top: 5px solid $color-header-background;
      border-bottom: 5px solid $color-header-background;
      transition: border-bottom 300ms, color 300ms;
    }
  }
}
