/** Overall Colours **/
$color-background: #eeeeee;
$color-text: #555555;

/** Colour Palette **/
$color-primary: tomato;
$color-primary--dark: darken($color-primary, 10%);

$color-danger: #B83434;
$color-danger--dark: darken($color-danger, 10%);

/** Header **/
$color-header-background: white;
$color-header-border-highlight: rgba(0,0,0,0.05);
$color-header-button-inactive: #dddddd;
$color-header-button-active: tomato;
