/** Overall Colours **/
$color-background: #eeeeee;
$color-text: #555555;

/** Colour Palette **/
$color-primary: tomato;

/** Header **/
$color-header-background: white;
$color-header-border-highlight: whitesmoke;
