<div class="container">
  <h1><span ng-bind="adminProjectsEdit.submitActionName"></span> Project</h1>
  <form name="projectForm" class="form" ng-submit="adminProjectsEdit[adminProjectsEdit.submitActionName]();">
    <div class="form__group">
      <input type="text" class="form__text" name="projectName" id="projectName"
             required
             placeholder="Project Name"
             ng-model="adminProjectsEdit.project.name">
    </div>

    <div class="form__group">
      <textarea class="form__textarea" name="projectDescription"
                id="projectDescription" placeholder="Project Description"
                ng-model="adminProjectsEdit.project.description"></textarea>
    </div>

    <div class="form__group">
      <input type="url" class="form__text" name="projectUrl" id="projectUrl"
             placeholder="Project Url" ng-model="adminProjectsEdit.project.url">
    </div>

    <div class="form__group">
      <label for="projectLive" class="form__label">
        <input type="checkbox" class="form__checkbox" name="projectLive" id="projectLive"
               ng-model="adminProjectsEdit.project.live">
               Make Publicly Available
      </label>
    </div>

    <div class="form__group--right">
      <input type="submit" class="form__submit" ng-value="adminProjectsEdit.submitActionName">
    </div>
  </form>
</div>
