html, body {
  font-family: 'Roboto', sans-serif;
  color: $color-text;
  height: 100%;
}

body {
  background-color: $color-background;
}

* {
  box-sizing: border-box;
}

::selection {
  background: $color-primary;
  color: white;
}

::-moz-selection {
  background: $color-primary;
  color: white;
}

a {
  color: $color-primary;
}

a:hover {
  background-color: $color-primary;
  color: white;
  text-decoration: none;
}

.container {
  max-width: $max-width;
  min-width: $min-width;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding: 0 $side-padding;
}

.main {
  padding-top: $xs-header-height;
  height: 100%;
}
