@media (min-width: $screen-sm-min) {
  .header {
    text-align: left;
    position: fixed;

    /* Header Menu Toggle Button */
    .header__btn-toggle-menu {
      display: none;
    }

    /* Header Menu */
    .header__menu {
      overflow: visible;
      background-color: transparent;
      border-top: none;
      width: auto;
    }

    .header__menu--active {
      @extend .header__menu;
      display: inline-block;
    }

    .header__menu--inactive {
      @extend .header__menu;
      display: inline-block;
    }

    /* Header Link */
    .header__link {
      float: none;
      display: inline-block;
      width: 150px;

      a {
        padding: 40px 0;
      }
    }

    .header__link--active {
      float: none;
      display: inline-block;
      width: 150px;
      background-color: $color-primary;

      a {
        border-bottom-color: $color-primary;
        color: white;
      }

      &:hover a {
        border-bottom-color: $color-primary;
        color: white;
      }
    }
  }
}
